/**
	Halp.css or Halp.scss

  space type:
    m   -> margin
    p   -> padding

  direction:
    a   -> all
    t   -> top
    r   -> right
    b   -> bottom
    l   -> left

  size:
    n   -> none or 0;
    xs  -> extra small
    s   -> small
    m   -> medium
    l   -> large
    xl  -> extra large


  [type][direction][size]

  <table class="table-responsive mtl">...</table>

  mtl -> Margin Top Large
  .mtl{
    margin-top: <preset large size>px
  }


*/

$n: 0 !important;
$xs: 5px !important;
$sm: 10px !important;
$md: 20px !important;
$lg: 30px !important;
$xl: 50px !important;
$huge: 70px !important;
